.container{
    text-align: center;
    border: 0px;
    float: none;
    background-color:brown;
    border: 30px;
    border-color: blue;
    text-decoration: dotted;
    text-transform:uppercase;
    text-decoration: double;
    text-wrap: 10px;
}
.container2{
    text-align: center;
    border: 0px;
    float: none;
    background-color:gray;
    border-color: red;
    text-transform:uppercase;
    text-decoration: double;
    text-wrap: 10px;
    text-decoration-color: brown;
}
.resultado{
    text-align: center;
    float: center;
    text-transform: lowercase;
}
