.container{
    text-align: center;
    border: 0px;
    float: none;
    background-color:grey;
    border: 30px;
    border-color: blue;
    text-decoration: dotted;
    text-transform:uppercase;
    text-wrap: 10px;
    border-radius: 20px;
    border-width: 20px;
    border-left: 50px;
    text-overflow: inherit;
    text-shadow: 50px;
    text-decoration-color: black;
}

