.container{
    text-align: center;
    border: 0px;
    float: none;
    background-color:brown;
}
.container2{
    text-align: center;
    border: 0px;
    float: none;
    background-color:gray;
}
.Resultado{
    text-align: center;
}
