.tec{
    text-align: center;
    align-items: center;
    background-color: black;
    color: red;
    cursor: pointer;
    padding: 1rem;
    text-align: center;
}
footer{
    text-align: center;
    align-items: center;
    background-color: black;
    color: red;
    cursor: pointer;
    padding: 1rem;
    text-align: center;
}
.tit{
    font-size: 50px;
    font-weight: bold;
}
.cab{
    font-size: 18px;
    font-weight: bold;
}
