/* Estilos gerais para o corpo da página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container principal que envolve o formulário e os resultados */
.container {
    display: flex;                /* Usando Flexbox */
    justify-content: space-between; /* Espaço entre o formulário e os resultados */
    width: 100%;                   /* O contêiner ocupa toda a largura */
    max-width: 1200px;             /* Definindo uma largura máxima */
}

/* Estilos para o formulário */
.form-container {
    width: 45%;   /* O formulário ocupa 45% da largura */
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo dos títulos */
h2 {
    font-size: 50px;
    margin-bottom: 10px;
}

h5 {
    font-size: 20px;
    margin-bottom: 20px;
}

/* Estilo dos inputs */
.input-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
}

/* Estilo do botão */
button {
    width: 100%;
    padding: 12px;
    border: 1px solid #007BFF;
    background-color: transparent;
    color: #007BFF;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #007BFF;
    color: white;
}

button:focus {
    outline: none;
}

/* Estilos para o container de resultados */
.result-container {
    display: flex;
    flex-direction: column;        /* Organiza os resultados de forma vertical */
    width: 50%;                    /* O container de resultados ocupa 50% da largura */
    gap: 10px;                     /* Espaço entre as divs de resultado */
}

/* Estilo para cada resultado */
.result {
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilo para o resultado em negrito */
#res1, #res2, #res3, #res5 {
    font-weight: bold;
    font-size: 40px;
}
#res4{
    font-weight: bold;
    font-weight: bold;
    color: red;
    font-size: 40px;
}
